@import "variables";

.site-header {
  padding: 1.4rem 0;
  position: relative;
  z-index: 10;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 1rem;
  }

  .brand-user {
    .user-email {
      margin-left: 1.5rem;
      vertical-align: middle;
    }

    .brand {
      display: inline-flex;
      align-items: stretch;
      border-radius: 999px;
      overflow: hidden;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.12em;

      .brand-pill {
        padding: 0.35rem 0.8rem;
        background: rgba(9, 7, 30, 0.8);

        &--accent {
          background: linear-gradient(90deg, $accent, $primary);
        }
      }
    }
  }



  .header-nav {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .nav-link {
      font-size: 0.9rem;
      text-decoration: none;
      color: $text;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .user-menu-container {
      position: relative;
      display: inline-block;

      .user-menu-trigger {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .user-menu-text {
          @media (max-width: 576px) {
            display: none;
          }
        }
      }

      .user-menu-items {
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 0.5rem;
        z-index: 1000;
        
        display: flex;
        flex-direction: column;
        gap: 0.5rem;; 
        min-width: 160px;

        .button {
          width: 100%;
          text-align: left;
          white-space: nowrap;
          background-color: rgba(9, 7, 30, 0.8);
        }

        &.closed {
          display: none;
        }
      }
    }
  }
}
